[submodule "vendor/glfw"]
	path = vendor/glfw
	url = git@github.com:qlurkin/glfw.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = git@github.com:qlurkin/spdlog.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = git@github.com:qlurkin/glm.git
[submodule "vendor/glslang"]
	path = vendor/glslang
	url = git@github.com:qlurkin/glslang.git
